{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">
                        Take Attendance
                    </h1>
                </div>
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <div id="calendar"></div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Date</label>
                                <div class="control has-icons-left">
                                    <input class="input" id="selected-date-input" type="text" placeholder="Select a Date" readonly/>
                                    <span class="icon is-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <p class="help">Use the calendar on the left to select a date.</p>
                            </div>
                            <div class="field">
                                <label class="label">Class</label>
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select>
                                          <option>Select a Class</option>
                                          <option>Class 1</option>
                                          <option>Class 2</option>
                                          <option>Class 3</option>
                                        </select>
                                    </div>
                                    <span class="icon is-left">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="block">
                                <div class="columns">
                                    <div class="column">
                                        <div>Student Name 1</div>
                                        <div>Student Name 2</div>
                                        <div>Student Name 3</div>
                                    </div>
                                    <div class="column">
                                        <div class="buttons has-addons mb-1">
                                            <button class="button is-selected is-success">Present</button>
                                            <button class="button">Tardy</button>
                                            <button class="button">Absent</button>
                                        </div>
                                        <div class="buttons has-addons mb-1">
                                            <button class="button">Present</button>
                                            <button class="button">Tardy</button>
                                            <button class="button is-selected is-danger">Absent</button>
                                        </div>
                                        <div class="buttons has-addons mb-1">
                                            <button class="button">Present</button>
                                            <button class="button is-selected is-warning">Tardy</button>
                                            <button class="button">Absent</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
<script>

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        dateClick: selectDate
    });
    calendar.render();

    function selectDate(info) {
        // console.log(info);
        calendar.select(info.dateStr);
        const dateInput = document.getElementById("selected-date-input");
        dateInput.value = info.dateStr;
    }

    // testing events
    calendar.addEvent({
        title: "Event",
        start: "2024-07-12",
        end: "2024-07-12",
        backgroundColor: "green",
    });

    calendar.addEvent({
        title: "Event",
        start: "2024-07-12",
        end: "2024-07-12",
        backgroundColor: "red",
    });
</script>
{% endblock %}