{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">
                        Take Attendance
                    </h1>
                </div>
                <div class="card-content">
                    <div class="columns">
                        <div class="column">
                            <div id="calendar"></div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Class</label>
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select id="attendance-class-select">
                                          <option>No Class Selected</option>
                                          {% for class in model.classes %}
                                            {% if class.id == model.selected_class.id %}
                                                <option selected value="{{class.id}}">{{class.name}}</option>
                                            {% else %}
                                                <option value="{{class.id}}">{{class.name}}</option>
                                            {% endif %}
                                          {% endfor %}
                                        </select>
                                    </div>
                                    <span class="icon is-left">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <p class="help">Select the class you want to take Attendance for.</p>
                            </div>
                            <div class="field">
                                <label class="label">Selected Date</label>
                                <div class="control has-icons-left">
                                    <input class="input" id="selected-date-input" type="text" placeholder="Select a Date" readonly/>
                                    <span class="icon is-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <p class="help">Use the calendar on the left to select a date.</p>
                            </div>
                            <div class="block">
                                <div class="columns">
                                    <div class="column" id="student-info-container">
                                        <!-- <div class="mb-1">
                                            <span class="button is-static">....</span>
                                        </div> -->
                                    </div>
                                    <div class="column" id="student-attendance-container">
                                        <!-- <div class="buttons has-addons mb-1">
                                            <button class="button">Present</button>
                                            <button class="button">Tardy</button>
                                            <button class="button">Absent</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button class="button is-primary">
                                    <span class="icon">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </span>
                                    <span>Save Attendance</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
<script>
    const attendancePage = {
        calendar: null,
        calendarElement: null,
        init: function() {
            attendancePage.calendarElement = document.getElementById('calendar');
            attendancePage.calendar = new FullCalendar.Calendar(attendancePage.calendarElement, {
                initialView: 'dayGridMonth',
                dateClick: attendancePage.onDateClicked
            });
            
            attendancePage.calendar.render();
            attendancePage.selectDate(attendancePage.currentDateStr());
        },
        onDateClicked: function(info) {
            attendancePage.selectDate(info.dateStr);

            const classSelect = document.getElementById("attendance-class-select");
            console.log(classSelect.value);
        },
        selectDate: function(dateStr) {
            attendancePage.calendar.select(dateStr);
            const dateInput = document.getElementById("selected-date-input");
            dateInput.value = dateStr;
        },
        currentDateStr: function() {
            const date = new Date();
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();
            return `${year}-${month}-${day}`;
        }
    }

    attendancePage.init();


    // testing events
    // calendar.addEvent({
    //     title: "Event",
    //     start: "2024-07-12",
    //     end: "2024-07-12",
    //     backgroundColor: "green",
    // });

    // calendar.addEvent({
    //     title: "Event",
    //     start: "2024-07-12",
    //     end: "2024-07-12",
    //     backgroundColor: "red",
    // });
</script>
{% endblock %}