{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">
                        Password Details
                    </h1>
                </div>
                <div class="card-content">
                    <div class="block">
                        <p>
                            When creating a staff member for the first time, the system automatically generates a password for them.
                            If the new staff member has a birthday, their password will be:
                            <blockquote class="notification">
                                {Birthday Year}-{First letter of their first name}{Last Name}-{Birthday month as number 1 - 12}
                            </blockquote>
                            So a staff member named John Doe born on 05/25/1994 will have the following password: 
                            <blockquote class="notification">
                                1994-jdoe-5
                            </blockquote>
                        </p>
                    </div>
                    <div class="block">
                        <p>
                            It is possible to create a new staff member without a birthdate.
                            If the staff member's birthday field is empty, their password will be:
                            <blockquote class="notification">
                                generated-placeholder-pw-2096
                            </blockquote>
                        </p>
                    </div>
                    <div class="block">
                        <p>
                            If a user cannot get into their account, admin users are able to reset a user's password.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}