{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">
                        <span class="has-text-grey mr-2">{{ staff_model.role.name }} - </span>
                        <span>{{ staff_model.fullname }}</span>
                    </h1>
                </div>
                <div class="card-content">
                    <form method="POST" action="/">
                        {{ staff_model.form.csrf_token }}
                        {{ staff_model.form.staff_id() }}
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">{{ staff_model.form.first_name_lao.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.first_name_lao(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.first_name_lao.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.last_name_lao.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.last_name_lao(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.last_name_lao.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.username.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.username(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.username.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.email.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.email(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.email.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.birthday.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.birthday(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.birthday.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.address.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.address(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.address.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">{{ staff_model.form.first_name.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.first_name(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.first_name.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.last_name.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.last_name(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.last_name.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.nick_name.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.nick_name(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.nick_name.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.phone_number.label }}</label>
                                    <div class="control">
                                        {{ staff_model.form.phone_number(class="input") }}
                                    </div>
                                    {% for error in staff_model.form.phone_number.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.gender.label }}</label>
                                    <div class="select">
                                        {{ staff_model.form.gender() }}
                                    </div>
                                    {% for error in staff_model.form.gender.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ staff_model.form.role.label }}</label>
                                    <div class="select">
                                        {{ staff_model.form.role() }}
                                    </div>
                                    {% for error in staff_model.form.role.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <button class="button is-primary" type="submit">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                </span>
                                <span>Save Changes</span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if staff_model.classes %}
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">Classes</h1>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Term</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# TODO: accessing the term model like this creats an n+1 problem? #}
                            {% for staff_class in staff_model.classes %}
                            <tr>
                                <td><a href="#">{{ staff_class.name }}</a></td>
                                <td>{{ staff_class.term.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}