{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-header-title title is-3">
                        <span>Student - <span class="has-text-grey mr-2">{{ student_model.fullname }}</span></span>
                    </h1>
                    <button class="card-header-icon">
                        <a href="{{ url_for('students.home') }}">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </span>
                                <strong>Back To List</strong>
                            </span>
                        </a>
                    </button>
                </div>
                <div class="card-content">
                    {% include "/includes/student_edit_form.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">Classes & Attendance</h2>
                </div>
                <div class="card-content">
                    {% if not student_model.attendance %}
                    <div class="notification is-warning is-light">
                        No Attendance Found.
                    </div>
                    {% else %}
                    <div class="columns is-multiline is-8">
                        {% for key in student_model.attendance.keys() %}
                        <div class="column is-3 has-box-shadow ml-1 mr-1">
                            <a href="{{url_for('classes.edit', class_id=student_model.attendance[key]['class_id'])}}">
                                <div class="columns mb-0">
                                    <div class="column">
                                        <strong>
                                            {{key}}
                                        </strong>
                                    </div>
                                    <div class="column">
                                        <strong>{{student_model.attendance[key]["class_term"]}}</strong>
                                    </div>
                                </div>
                            </a>
                            <div class="columns mb-0">
                                <div class="column">
                                    Absences:
                                </div>
                                <div class="column">
                                    <span class="tag is-danger">
                                        {{student_model.attendance[key]["A_total"]}}
                                    </spam>
                                </div>
                            </div>
                            <div class="columns mb-0">
                                <div class="column">
                                    Tardies:
                                </div>
                                <div class="column">
                                    <span class="tag is-warning">
                                        {{student_model.attendance[key]["T_total"]}}
                                    </span>
                                </div>
                            </div>
                            <button class="button toggle is-link is-outlined is-fullwidth" data-target="attendance-table-{{key}}">Attendance Dates</button>
                            <table class="table is-hidden is-fullwidth" id="attendance-table-{{key}}">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in student_model.attendance[key]["days"] %}
                                        <tr>
                                            <td>{{record["date"]}}</td>
                                            <td>{{record["value"]}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">Grades</h2>
                </div>
                <div class="card-content">
                    Future release
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}