{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-header-title title is-3">
                        <span>Student - <span class="has-text-grey mr-2">{{ student_model.fullname }}</span></span>
                    </h1>
                    <button class="card-header-icon">
                        <a href="{{ url_for('students.home') }}">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </span>
                                <strong>Back To List</strong>
                            </span>
                        </a>
                    </button>
                </div>
                <div class="card-content">
                    {% include "/includes/student_edit_form.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">Classes</h2>
                </div>
                <div class="card-content">
                    {% if student_model.classes %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Term</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student_class in student_model.classes %}
                            <tr>
                                <td><a href="{{ url_for('classes.edit', class_id=student_class.class_id) }}">{{ student_class.name }}</a></td>
                                <td>{{ student_class.term }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="notification is-warning">
                        No Classes Found
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title title is-3">Grades</h2>
                </div>
                <div class="card-content">
                    Future release
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}