{% extends "/layouts/layout.html" %}

{% block main %}
<div class="container is-fluid">
    <div class="block">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title title is-3">Students</h1>
            </div>
            <div class="card-content">
                <div class="block">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Type to search ...">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <div class="control">
                            <a class="button is-link" href="./new-student.html">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </span>
                                    <span>New Student</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                Student Number
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Nickname
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Birthday
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Work / School
                            </th>
                            <th>
                                Application Date
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr id="student-row-{{ student.id }}">
                            <td>{{student.student_number}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.nick_name}}</td>
                            <td>{{student.gender.name}}</td>
                            <td>{{student.birthday}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.phone_number}}</td>
                            <td>{{student.address}}</td>
                            <td>{{student.occupation}}</td>
                            <td>{{student.application_date}}</td>
                            <td>
                                {# {{ url_for('student.edit', student_id=student.id) }} #}
                                <a class="button is-link" href="#">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </span>
                                        <span>Details</span>
                                    </span>
                                </a>
                                <button class="button is-danger modal-trigger" data-target="confirm-delete-modal" data-item-id="{{ student.id }}">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </span>
                                        <span>Delete</span>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="modal" id="confirm-delete-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Delete Student</p>
              </header>
              <section class="modal-card-body">
                <span>Are sure you want to delete this Student?</span><br/>
                <small>Deleted students cannot be added to classes.</small><br/>
                <small>Deleted students will not be shown in the main student list by default.</small>
              </section>
              <footer class="modal-card-foot">
                <div class="buttons">
                  <button class="button is-danger" id="confirm-delete-btn">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                        <span>Yes</span>
                    </span>
                  </button>
                  <button class="button is-secondary close-modal">No</button>
                </div>
              </footer>
            </div>
        </div>
    </div>
</div>
{% endblock %}