.fixed-alert {
    position:fixed; 
    bottom: 10px; 
    width: 50%;
    z-index:9999; 
    border-radius:0px;
    left: 50%;
    transform: translateX(-50%);
}

.notification {
    padding: .6em, .8em !important;
}