.fixed-alert {
    position:fixed; 
    bottom: 10px; 
    width: 50%;
    z-index:9999; 
    border-radius:0px;
    left: 50%;
    transform: translateX(-50%);
}

.notification {
    padding: .6em, .8em !important;
}

.is-visually-hidden {
    visibility: hidden;
}

.has-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


@media print {
    .no-print{
        display: none;
    }

    table
    {
        break-inside: avoid;
    }
}
