{% extends '/layouts/layout.html' %}

{% block main %}
<div class="container is-fluid">
    <div class="block">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title title is-3">Classes</h1>
            </div>
            <div class="card-content">
                <div class="block">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Future Release ...">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <div class="control mr-2">
                            <div class="select">
                                <select id="class-list-terms-select">
                                    <option value="">All Terms</option>
                                    {% for term in terms %}
                                        {% if term.id == selected_term %}
                                            <option value="{{term.id}}" selected>{{term.name}}</option>
                                        {% else %}
                                            <option value="{{term.id}}">{{term.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <a class="button is-link" href="{{ url_for('classes.create') }}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </span>
                                    <span>New Class</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                Class Name
                            </th>
                            <th>
                                Term
                            </th>
                            <th>
                                Teacher
                            </th>
                            <th>
                                Room Number
                            </th>
                            <th>
                                Student Count
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school_class in classes %}
                        <tr>
                            <td><a href="{{ url_for('classes.edit', class_id=school_class.id) }}">{{school_class.name}}</a></td>
                            <td>{{school_class.term}}</td>
                            <td>{{school_class.teacher_name}}</td>
                            <td>{{school_class.room_number}}</td>
                            <td>{{school_class.roster_count}}</td>
                            <td>
                                <a class="button is-link" href="{{ url_for('classes.edit', class_id=school_class.id) }}">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </span>
                                        <span>Details</span>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/classes/list.js')}}"></script>
{% endblock %}