<form method="POST">
    {{ class_model.form.csrf_token }}
    {{ class_model.form.class_id() }}
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">
                    {{ class_model.form.name.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="control">
                    {{ class_model.form.name(class="input") }}
                </div>
                {% for error in class_model.form.name.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">{{ class_model.form.room_number.label }}</label>
                <div class="control">
                    {{ class_model.form.room_number(class="input") }}
                </div>
                {% for error in class_model.form.room_number.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">
                    {{ class_model.form.teacher_id.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="select">
                    {{ class_model.form.teacher_id() }}
                </div>
                {% for error in class_model.form.teacher_id.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">
                    {{ class_model.form.term_id.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="select">
                    {{ class_model.form.term_id() }}
                </div>
                {% for error in class_model.form.term_id.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="button is-primary" type="submit">
        <span class="icon-text">
            <span class="icon">
                <i class="fa fa-save" aria-hidden="true"></i>
            </span>
            <span>Save Changes</span>
        </span>
    </button>
</form>