<form method="POST">
    {{ staff_model.form.csrf_token }}
    {{ staff_model.form.staff_id() }}
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">{{ staff_model.form.first_name_lao.label }}</label>
                <div class="control">
                    {{ staff_model.form.first_name_lao(class="input") }}
                </div>
                {% for error in staff_model.form.first_name_lao.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">{{ staff_model.form.last_name_lao.label }}</label>
                <div class="control">
                    {{ staff_model.form.last_name_lao(class="input") }}
                </div>
                {% for error in staff_model.form.last_name_lao.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">
                    {{ staff_model.form.username.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="control">
                    {{ staff_model.form.username(class="input") }}
                </div>
                <p class="help">This will be used by the user to login to their account.</p>
                {% for error in staff_model.form.username.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">{{ staff_model.form.email.label }}</label>
                <div class="control">
                    {{ staff_model.form.email(class="input") }}
                </div>
                {% for error in staff_model.form.email.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">{{ staff_model.form.birthday.label }}</label>
                <div class="control">
                    {{ staff_model.form.birthday(class="input") }}
                </div>
                {% for error in staff_model.form.birthday.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">{{ staff_model.form.address.label }}</label>
                <div class="control">
                    {{ staff_model.form.address(class="input") }}
                </div>
                {% for error in staff_model.form.address.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">
                    {{ staff_model.form.first_name.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="control">
                    {{ staff_model.form.first_name(class="input") }}
                </div>
                {% for error in staff_model.form.first_name.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">
                    {{ staff_model.form.last_name.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="control">
                    {{ staff_model.form.last_name(class="input") }}
                </div>
                {% for error in staff_model.form.last_name.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">{{ staff_model.form.nick_name.label }}</label>
                <div class="control">
                    {{ staff_model.form.nick_name(class="input") }}
                </div>
                {% for error in staff_model.form.nick_name.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">{{ staff_model.form.phone_number.label }}</label>
                <div class="control">
                    {{ staff_model.form.phone_number(class="input") }}
                </div>
                {% for error in staff_model.form.phone_number.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">
                    {{ staff_model.form.gender.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="select">
                    {{ staff_model.form.gender() }}
                </div>
                {% for error in staff_model.form.gender.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="field">
                <label class="label">
                    {{ staff_model.form.role.label }}
                    <span class="has-text-danger">*</span>
                </label>
                <div class="select">
                    {{ staff_model.form.role() }}
                </div>
                <br/><small>Only staff with the 'Teacher' role can teach classes.</small>
                {% for error in staff_model.form.role.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="button is-primary" type="submit">
        <span class="icon-text">
            <span class="icon">
                <i class="fa fa-save" aria-hidden="true"></i>
            </span>
            <span>Save Changes</span>
        </span>
    </button>
</form>