{% extends '/layouts/layout.html' %}

{% block main %}
<div class="container is-fluid">
    <div class="block">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title title is-3">Teachers</h1>
            </div>
            <div class="card-content">
                <div class="block">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Type to search ...">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <div class="control">
                            <a class="button is-link" href="./new-teacher.html">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </span>
                                    <span>New Teacher</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Nickname
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Birthday
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Work / School
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>Daniel Johnson</td>
                            <td>DJ</td>
                            <td>Male</td>
                            <td>25/05/1994</td>
                            <td>1 803 840 5077</td>
                            <td>417 Stephen Blvd</td>
                            <td>Davidson Water</td>
                            <td>
                                <a class="button is-link" href="./teacher.html">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </span>
                                        <span>Details</span>
                                    </span>
                                </a>
                                <a class="button is-danger" href="#">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                        <span>Reset</span>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}