{% extends '/layouts/layout.html' %}

{% block main %}
<div class="container is-fluid">
    <div class="block">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title title is-3">Staff</h1>
            </div>
            <div class="card-content">
                <div class="block">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Type to search ...">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <div class="control">
                            <a class="button is-link" href="#">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </span>
                                    <span>New Staff</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Nickname
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Birthday
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff_member in staff %}
                        <tr>
                            <td>{{staff_member.name}}</td>
                            <td>{{staff_member.nick_name}}</td>
                            <td>{{staff_member.role.name}}</td>
                            <td>{{staff_member.gender}}</td>
                            <td>{{staff_member.birthday}}</td>
                            <td>{{staff_member.phone_number}}</td>
                            <td>{{staff_member.address}}</td>
                            <td>
                                <a class="button is-link" href="#">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </span>
                                        <span>Details</span>
                                    </span>
                                </a>
                                <a class="button is-danger" href="#">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                        <span>Reset</span>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}